@{
    ViewBag.Title = "Contact";
    ViewBag.Pick = 3;
}

<section>
    <h2>Contact</h2>
    <h4>Tô Tiến An</h4>
    <address>
        Ký túc xá khu B - đại học Quốc Gia - Linh Trung - Thủ Đức - Hồ Chí Minh<br />
        <b>Phone:</b>
        0384.396.344
    </address>
    <address>
        <strong>Email:</strong>   <a href="mailto:totienan97@gmail.com">totienan97@gmail.com</a>
    </address>
</section>